<div id="f_modal" class="f_ignore f_ignore_children">
  <div class="f_box">
    <div class="f_title">
      <span id="f_f">&fnof;</span><span id="f_bang">!</span>
    </div>

    <div class="f_input">
      <input type="text">
    </div>

    <div class="f_more">
      <div class="f_more-inner">
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>
